<div flex layout-gt-md="row" layout="column">
    <md-input-container flex-gt-md="30">
        <md-select ng-model="requestCtrl.selectedShipment" placeholder="Selecione a Carga">
            <md-option ng-repeat="shipment in requestCtrl.shipments | orderBy:'refDate'" ng-value="shipment">{{shipment.refDate | date:'dd-MM-yyyy'}}</md-option>
        </md-select>
    </md-input-container>
    <md-autocomplete flex-gt-md md-selected-item="requestCtrl.selectedClient" md-search-text="requestCtrl.searchClient" md-items="client in requestCtrl.querySearch(requestCtrl.searchClient, requestCtrl.clients)"
        md-item-text="client.name" md-min-length="0" md-floating-label="Nome do Cliente">
        <md-item-template>
            <span md-highlight-text="requestCtrl.searchClient" md-highlight-flags="^i">{{client.name}} | {{ client.code }}</span>
        </md-item-template>
    </md-autocomplete>
</div>
<div layout="row" layout-align="end center">
    <md-menu>
        <md-button class="md-icon-button" ng-click="$mdMenu.open()">
            <md-icon>add</md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item ng-repeat="product in requestCtrl.products" ng-click="requestCtrl.addItem(product)">
                <md-button>
                    {{product.name}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<div layout="row" layout-align="center">
    <md-list flex>
        <md-list-item ng-repeat="item in requestCtrl.newRequest.itens" ng-click="null" flex-xs="column">
            <md-button class="md-icon-button" ng-click="requestCtrl.removeItem($index)">
                <md-icon md-colors="{color: 'red-800'}">close</md-icon>
            </md-button>
            <p>
                <b>{{item.name}}</b> | {{item.price | currency:'R$ '}}
            </p>
            <md-button class="md-icon-button" ng-click="item.quantity = item.quantity - 1">
                <md-icon>remove_circle</md-icon>
            </md-button>
            <md-button>
                {{item.quantity}} {{item.unit}}
            </md-button>
            <md-button class="md-icon-button" ng-click="item.quantity = item.quantity + 1">
                <md-icon>add_circle</md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</div>
<md-button class="md-raised" md-colors="{background: 'default-teal-500'}" title="Enviar" ng-click="requestCtrl.save()" ng-disabled="!requestCtrl.isValid()">
    Salvar
</md-button>