<md-input-container>
    <md-select ng-model="controller.newRequest.shipment" placeholder="Selecione a Carga">
        <md-option ng-repeat="shipment in controller.shipments | orderBy:'refDate'" value="shipment.$id">{{shipment.refDate | date:'dd-MM-yyyy'}}</md-option>
    </md-select>
</md-input-container>
<md-autocomplete md-selected-item="controller.selectedClient" md-search-text="controller.searchClient" md-items="client in controller.querySearch(controller.searchClient)"
    md-item-text="client.name" md-min-length="0" placeholder="Selecione o Cliente">
    <md-item-template>
        <span md-highlight-text="controller.searchClient" md-highlight-flags="^i">{{client.name}} | {{ client.code }}</span>
    </md-item-template>
</md-autocomplete>



<md-button class="md-raised" md-colors="{background: 'default-teal-500'}" title="Enviar" ng-click="controller.updateShipment()"
    ng-disabled="!controller.isValid(controller.selectedShipment, saveForm.$invalid)">
    Salvar
</md-button>