<div layout="column" md-colors="{background: 'blue-grey-100'}">
  <div md-whiteframe="2" layout-padding md-colors="{background: 'grey-100'}" layout="column">
    <span class="md-headline">Gerenciar suas Cargas</span>
    <span class="md-caption">Nessa área é possível gerenciar todas as suas cargas realizadas.</span>
  </div>
  <span flex></span>
  <md-card>
    <md-card-content>
      <div layout="column" layout-align="center center" ng-if="!controller.shipments">
        <span class="md-subhead">Carregando Dados das Cargas</span>
        <md-progress-circular class="md-hue-2" md-diameter="40px"></md-progress-circular>
      </div>
      <md-tabs md-dynamic-height md-border-bottom ng-if="controller.shipments">
        <md-tab label="Cargas Cadastradas">
          <md-input-container class="md-block">
            <md-icon>search</md-icon>
            <input style="font-weight: bold; color: #00695C; " placeholder="Pesquise por nome ou código" ng-model="search">
          </md-input-container>
          <md-list-item class="md-3-line" ng-repeat="shipment in controller.shipments | orderBy:'refDate' | filter:search" class="noright"
            ng-click="controller.showShipment(shipment)">
            <md-icon>local_shipping</md-icon>
            <div class="md-list-item-text">
              <h3>{{ shipment.refDate | date:'dd-MM-yyyy' }}</h3>
              <p>
                <b>Obs.:</b> {{ shipment.description || "N/A" }}</p>
            </div>
            <md-button class="md-icon-button">
              <md-icon ng-click="controller.editShipment(shipment)">edit</md-icon>
            </md-button>
          </md-list-item>
        </md-tab>
        <md-tab label="Nova Carga">
          <div flex-gt-xs>
            <h4>Data de Referência da Carga</h4>
            <md-datepicker ng-model="controller.newShipment.refDate" md-placeholder="Selecione" md-open-on-focus></md-datepicker>
          </div>
          <md-input-container flex-gt-md="70" class="md-block">
            <input style="font-weight: bold; color: #00695C; border: 0; resize:none;" name="Descrição" ng-model="controller.newShipment.description"
              placeholder="Descrição | Observações">
          </md-input-container>
          <md-button style="color: #009688" ui-sref="app.home">
            Cancelar
          </md-button>
          <md-button class="md-raised" md-colors="{background: 'default-teal-500'}" title="Enviar" ng-click="controller.createShipment()"
            ng-disabled="!controller.isValid(controller.newShipment, saveForm.$invalid)">
            Salvar
          </md-button>
        </md-tab>
      </md-tabs>
    </md-card-content>
  </md-card>

  <div style="visibility: hidden">
    <div class="md-dialog-container" id="showShipment" flex>
      <md-dialog flex="95" flex-gt-md="50">
        <md-toolbar md-colors="{background: 'teal-800'}">
          <div class="md-toolbar-tools">
            <span class="md-title">Detalhes</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="controller.cancelDialog()">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <div layout-padding layout="column">
          <b>Data de Referência:</b>
          <span class="md-subhead">{{controller.selectedShipment.refDate | date:'dd-MM-yyyy' }}</span>
          <b>Descrição | Observações:</b>
          <span class="md-subhead">{{controller.selectedShipment.description}}</span>
        </div>
      </md-dialog>
    </div>
  </div>

  <div style="visibility: hidden; ">
    <div class="md-dialog-container" id="editShipment" flex>
      <md-dialog flex="95" flex-gt-md="50">
        <md-toolbar md-colors="{background: 'teal-800'}">
          <div class="md-toolbar-tools">
            <span class="md-title">Editar</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="controller.cancelDialog()">
              <md-icon>close</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <div layout-padding layout="column">
          <div flex-gt-xs>
            <h4>Data de Referência da Carga</h4>
            <md-datepicker ng-model="controller.selectedShipment.refDate" md-placeholder="Selecione" md-open-on-focus></md-datepicker>
          </div>
          <md-input-container flex-gt-md="70" class="md-block">
            <input style="font-weight: bold; color: #00695C; border: 0; resize:none;" name="Descrição" ng-model="controller.selectedShipment.description"
              placeholder="Descrição | Observações">
          </md-input-container>
          <md-button class="md-raised" md-colors="{background: 'default-teal-500'}" title="Enviar" ng-click="controller.updateShipment()"
            ng-disabled="!controller.isValid(controller.selectedShipment, saveForm.$invalid)">
            Salvar
          </md-button>
        </div>
      </md-dialog>
    </div>
  </div>
</div>